<div class="product-image product-card__product-image">
    <img [src]="product.productMain64Image" alt="product-card-image" class="product-image__image">
    <button class="icon product-image__icon button_empty" (click)="likeProduct()">
        <img [src]="isLiked ? 'assets/common/heart-fill.svg' : 'assets/common/heart.svg'"
             alt="product-card-like" 
             class="icon__like">
    </button>
    <div *ngIf="isOrder" class="product-count product-image__product-count">
        <img src="assets/common/shopping-cart.svg"
             alt="product-card-basket" 
             class="product-count__icon">
        <p class="product-count__count">
            {{ count }}
        </p>
    </div>
    <div *ngIf="product.productTag === 'sales'" class="sale product-image__sale">
        <span class="sale__percent">-{{ product.discount }}%</span>
    </div>
</div>
<div class="main-card product-card__main-card">
    <div class="prices">
        <div class="card-price">
            <p class="card-price__price">
                {{ product.cardPrice | currency:'₽':'symbol':'1.2-2' }}
            </p>
            <p class="card-price__type">
                С картой
            </p>
        </div>
        <div class="common-price">
            <p class="common-price__price">
                {{ product.commonPrice | currency:'₽':'symbol':'1.2-2' }}
            </p>
            <p class="common-price__type">
                Обычная
            </p>
        </div>
    </div>
    <div class="info" [routerLink]="['/product-detail', product.id]">
        <p class="info__description">
            {{ product.title }}, {{ product.country }}
        </p>
    </div>
    <app-rating [rating]="product.rating"></app-rating>
    <button type="button" class="main-card__button button_base button_product-card" (click)="addToBasket()">
        В корзину
    </button>
</div>