@import "src/app/styles/mixins";

.root {
    &__header-wrapper {
        width: 100vw;
        background: var(--white);
        box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.10);
    }

    &__footer-wrapper {
        margin-top: auto;
        width: 100vw;
        background-image: url('/assets/footer/footer-background.svg');
    }

    &__menu-wrapper {
        position: absolute;
        width: 100vw;
        height: 248px;
        background: var(--white);
        box-shadow: 8px 4px 8px 0px rgba(0, 0, 0, 0.10);
        z-index: 3;
    }
}

.header-wrapper {
    &__header {
        max-width: var(--content-width);
        height: var(--header-height);
        margin-left: auto;
        margin-right: auto;
        padding: 0px 16px;
    }
}

.footer-wrapper {
    &__footer {
        max-width: var(--content-width);
        height: var(--footer-height);
        margin-left: auto;
        margin-right: auto;
        padding: 16px 16px;
    }
}

.menu-wrapper {
    &__menu {
        display: flex;
        max-width: var(--content-width);
        margin-left: auto;
        margin-right: auto;
        padding: 40px 16px;
    }
}

@include lg {
    .header {
        gap: 20px;
    }
    
    .footer {
        flex-direction: column;
        gap: 20px;
    }
}
