<form class="form form-wrapper__form" [formGroup]="authForm" (ngSubmit)="submitAuthForm()">
    <div class="form-group">
        <label for="login" class="form-group__label">Логин</label>
        <input type="text" 
               id="login" 
               class="form-group__input input_auth"
               formControlName="authLogin"
               [ngClass]="{'input_auth_invalid': (authLogin?.touched && authLogin?.invalid)}">
        <span [hidden]="authLogin?.valid || authLogin?.untouched" 
              class="form-group__alert validation_alert">
                <ng-container *ngIf="authLogin?.hasError('required')">
                    Поле обязательно
                </ng-container>
                <ng-container *ngIf="authLogin?.hasError('minlength')">
                    Минимальная длина логина 4 символа
                </ng-container>
                <ng-container *ngIf="authLogin?.hasError('maxlength')">
                    Максимальная длина логина 12 символов
                </ng-container>
         </span>
    </div>
    <div class="form-group">
        <label for="password" class="form-group__label">Пароль</label>
        <div class="password form-group__password">
            <input type="password" 
                   id="password" 
                   class="password__input input_auth" 
                   formControlName="authPassword"
                   [ngClass]="{'input_auth_invalid': (authPassword?.touched && authPassword?.invalid)}">
            <span [hidden]="authPassword?.valid || authPassword?.untouched" 
                  class="form-group__alert validation_alert">
                    <ng-container *ngIf="authPassword?.hasError('required')">
                        Поле обязательно
                    </ng-container>
                    <ng-container *ngIf="authPassword?.hasError('pattern')">
                        Некорректный пароль
                    </ng-container>
            </span>
            <button class="password__toggle button_empty" (click)="hidePassword('password')">
                <img 
                [src]="!(authPassword?.touched && authPassword?.invalid) ?
                    (hiddenPassword ? 'assets/auth/auth-hidden.svg' : 'assets/auth/auth-unhidden.svg') : 
                    (hiddenPassword ? 'assets/auth/auth-hidden-invalid.svg' : 'assets/auth/auth-unhidden-invalid.svg')" 
                alt="password-toggle" 
                class="password__icon">
            </button>
        </div>
    </div>
    <button type="sumbit" class="form__submit button_base button_green">Войти</button>
    <span [hidden]="!(authLogin || authPassword)?.hasError('unauthorized')" 
        class="form-group__alert validation_alert">
        Неверный логин или пароль
    </span>
</form>
