@import "src/app/styles/mixins";

.order-card-admin {
    &__content {
        background: white;
        padding: 10px;
        border-radius: 8px;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side {
    display: flex;
    align-items: center;
    gap: 20px;

    &__text {
        color: var(--surface);

        &_bold {
            font-size: var(--text-size-l);
            font-weight: 700;
        }

        &_id {
            width: 80px;
        }
    }

    &__select-status {
        &_progress {
            background: var(--grayscale-lightest);
        }
    
        &_complete {
            background: var(--green);
            color: var(--white);
        }
    
        &_canceled {
            background: var(--error);
            color: var(--white);
        }
    }  
}

.phone {
    display: flex;
    align-items: center;

    &__number {
        color: var(--surface);
        font-size: var(--text-size-s);
    }
}

@include md {
    .content {
        flex-direction: column;
        align-items: flex-start;
    }

    .side {
        flex-wrap: wrap;
    }
}
