<div class="content order-card-admin__content">
    <div class="side">
        <p class="side__text_bold side__text_id">
            {{ order.id?.slice(0, 6) }}
        </p>
        <p class="side__text_bold">
            {{ order.orderPrice | currency:'₽':'symbol':'1.2-2' }}
        </p>
        <p class="side__text">
            {{ order.orderInfo.orderCity }}, {{ order.orderInfo.orderStreet }}, д. {{ order.orderInfo.orderHouse }}, кв. {{ order.orderInfo.orderFlat }}
        </p>
    </div>
    <div class="side">
        <div class="phone">
           <img src="assets/footer/footer-phone.svg" alt="phone" class="phone__icon"> 
            <p class="phone__number">
                {{ order.orderInfo.orderPhone }}
            </p>
        </div>
        <select 
            class="select-status side__select-status button_base" 
            [(ngModel)]="order.orderStatus" 
            [ngClass]="getStatusClass(order.orderStatus)"
            (change)="onStatusChanged(order)">
            <option *ngFor="let status of orderStatuses" [value]="status.value">
                {{ status.key }}
            </option>
        </select>
    </div>
</div>
