<div class="nav">
    <div class="logo">
        <img src="assets/footer/footer-logo.svg" alt="footer-logo" class="links__logo">
    </div>
    <nav class="links">
        <a href="#" class="links__item">О Компании</a>
        <a href="#" class="links__item">Контакты</a>
        <a href="#" class="links__item">Вакансии</a>
        <a href="#" class="links__item">Статьи</a>
        <a href="#" class="links__item">Политика конфидициальности</a>
    </nav>
</div>
<div class="contacts">
    <div class="social">
        <img src="assets/footer/footer-instagram.svg" alt="social-instagram" class="social__icon">
        <img src="assets/footer/footer-vk.svg" alt="social-vk" class="social__icon">
        <img src="assets/footer/footer-facebook.svg" alt="social-facebook" class="social__icon">
        <img src="assets/footer/footer-ok.svg" alt="social-ok" class="social__icon">
    </div>
    <div class="phone">
        <img src="assets/footer/footer-phone.svg" alt="phone" class="phone__icon">
        <a href="#" class="phone__link">8 800 777 33 33</a>
    </div>
</div>