@import "src/app/styles/mixins";

.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background: var(--white);
    }
}

@include between_md-xl {
    .articles {
        gap: 32px;
    }
}

@include md {
    .articles {
        grid-template-columns: repeat(1, 1fr);
    }
}