<div class="content-wrapper content-wrapper_desktop">
    <h1 class="content-wrapper__title">
        Корзина
    </h1>
    <div class="main">
        <ng-container *ngIf="!deliver; else isDeliver">
            <app-products-view-basket
                [products]="products" 
                [currentAccount]="currentAccount"
                (deleteSelectedProducts)="deleteFromBasket()"
                class="main__view-basket">
            </app-products-view-basket>
        </ng-container>
        <ng-template #isDeliver>
            <app-deliver-basket></app-deliver-basket>
        </ng-template>
        <div class="info main__info">
            <div class="info-row">
                <p class="info-row__text">
                    {{ productsCount | pluralize: 'товар' }}
                </p>
                <p class="info-row__text info-row__text_dark">
                    {{ sumPrice | currency:'₽':'symbol':'1.2-2' }}
                </p>
            </div>
            <div class="info-row">
                <p class="info-row__text">
                    Скидка
                </p>
                <p class="info-row__text info-row__text_orange info-row__bold">
                    {{ discount | currency:'₽':'symbol':'1.2-2' }}
                </p>
            </div>
            <hr class="divider">
            <div class="info-column">
                <div class="info-row">
                    <p class="info-row__text">
                        Итог
                    </p>
                    <p class="info-row__text info-row__text_bold info-row__text_dark info-row__text_large">
                        {{ finalPrice | currency:'₽':'symbol':'1.2-2' }}
                    </p>
                </div>
                <button type="button" class="info-column__bonus button_base">
                    <img src="assets/common/atom.svg" alt="atom" class="operators__icon">
                    Вы получите {{ bonus | number: '1.0-0' }} бонусов
                </button>
            </div>
            <div class="info-button">
                <ng-container *ngIf="!deliver; else payButton">
                    <button type="button" class="info-button__submit button_product-detail" (click)="switchContent()">
                        Оформить заказ
                    </button>
                </ng-container>
                <ng-template #payButton>
                    <button type="button" class="info-button__submit button_product-detail" (click)="createOrder()">
                        Оплатить
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</div>