<form class="deliver" [formGroup]="deliverForm">
    <div class="deliver-property">
        <p class="deliver-property__title">
            Куда
        </p>
        <div class="deliver-property-row" [ngClass]="{'deliver-property-row_flex-start': (deliverForm.invalid)}">
            <div class="form-group">
                <label for="deliverCity" class="form-group__label">Населенный пункт</label>
                <input 
                    type="text" 
                    id="deliverCity" 
                    formControlName="deliverCity"
                    class="form-group__input input_search"
                    [ngClass]="{'input_invalid': (deliverCity?.touched && deliverCity?.invalid)}">
                <span [hidden]="deliverCity?.valid || deliverCity?.untouched" 
                      class="form-group__alert validation_alert">
                    <ng-container *ngIf="deliverCity?.hasError('required')">
                        Поле обязательно
                    </ng-container>
                </span>
            </div>
            <div class="form-group">
                <label for="deliverStreet" class="form-group__label">Улица</label>
                <input 
                    type="text" 
                    id="deliverStreet" 
                    formControlName="deliverStreet"
                    class="form-group__input input_search"
                    [ngClass]="{'input_auth_invalid': (deliverStreet?.touched && deliverStreet?.invalid)}">
                <span [hidden]="deliverStreet?.valid || deliverStreet?.untouched" 
                      class="form-group__alert validation_alert">
                    <ng-container *ngIf="deliverStreet?.hasError('required')">
                        Поле обязательно
                    </ng-container>
                </span>
            </div>
            <div class="form-group">
                <label for="deliverHouse" class="form-group__label">Дом</label>
                <input 
                    type="text" 
                    id="deliverHouse" 
                    formControlName="deliverHouse"
                    class="form-group__input form-group__input_small input_search"
                    [ngClass]="{'input_auth_invalid': (deliverHouse?.touched && deliverHouse?.invalid)}">
                <span [hidden]="deliverHouse?.valid || deliverHouse?.untouched" 
                      class="form-group__alert validation_alert">
                    <ng-container *ngIf="deliverHouse?.hasError('required')">
                        Поле обязательно
                    </ng-container>
                </span>
            </div>
            <div class="form-group">
                <label for="deliverFlat" class="form-group__label">Квартира</label>
                <input 
                    type="text" 
                    id="deliverFlat" 
                    formControlName="deliverFlat"
                    class="form-group__input form-group__input_small input_search"
                    [ngClass]="{'input_auth_invalid': (deliverFlat?.touched && deliverFlat?.invalid)}">
                <span [hidden]="deliverFlat?.valid || deliverFlat?.untouched" 
                      class="form-group__alert validation_alert">
                    <ng-container *ngIf="deliverFlat?.hasError('required')">
                        Поле обязательно
                    </ng-container>
                </span>
            </div>
        </div>
    </div>
    <div class="deliver-property">
        <p class="deliver-property__title">
            Когда
        </p>
        <div class="deliver-property-row" [ngClass]="{'deliver-property-row_center': (deliverDate?.touched && deliverDate?.invalid)}">
            <div class="form-group">
                <label for="deliverDate" class="form-group__label">Дата</label>
                <input 
                    type="date"
                    id="deliverDate"
                    formControlName="deliverDate"
                    class="form-group__input input_search"
                    [ngClass]="{'input_auth_invalid': (deliverDate?.touched && deliverDate?.invalid)}">
                <span [hidden]="deliverDate?.valid || deliverDate?.untouched" 
                      class="form-group__alert validation_alert">
                    <ng-container *ngIf="deliverDate?.hasError('required')">
                        Поле обязательно
                    </ng-container>
                </span>
            </div>
            <div class="deliver-times">
                <button 
                    *ngFor="let deliverTime of deliverTimes" 
                    [ngClass]="{'button_orange': selectedDeliverTime === deliverTime.value}"
                    class="deliver-time button_base button_green" 
                    (click)="selectDeliverTime(deliverTime.value)">
                    {{ deliverTime.key }}
                </button>
            </div>
        </div>
    </div>
    <div class="deliver-property">
        <p class="deliver-property__title">
            Номер Телефона
        </p>
        <div class="deliver-property-row">
            <div class="form-group">
                <label for="deliverPhone" class="form-group__label">Номер телефона</label>
                <input 
                    type="text"
                    id="deliverPhone"
                    formControlName="deliverPhone"
                    class="form-group__input input_search"
                    placeholder="+7 (___) ___-__-__"
                    pattern="\+7 \(\d{3}\) \d{3}-\d{2}-\d{2}"
                    maxlength="18"
                    appPhoneNumber
                    [ngClass]="{'input_auth_invalid': (deliverPhone?.touched && deliverPhone?.invalid)}">
                <span [hidden]="deliverPhone?.valid || deliverPhone?.untouched" 
                      class="form-group__alert validation_alert">
                    <ng-container *ngIf="deliverPhone?.hasError('required')">
                        Поле обязательно
                    </ng-container>
                </span>
            </div>
        </div>
    </div>
</form>
