@import "src/app/styles/mixins";

.specials {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__title {
        color: var(--surface);
        font-size: var(--text-size-xl);
        font-weight: 700;
    }
}

.offers {
    display: flex;
    gap: 40px;

    &__card-banner {
        background: var(--orange-dark);
        border-radius: 4px;
        box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.50);
    }

    &__stock-banner {
        background: var(--green-light);
        border-radius: 4px;
        box-shadow: 0px 8px 16px 0px rgba(96, 202, 122, 0.493);
    }
}

.banner {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;

    &__description {
        padding-left: 40px;
    }

    &__image {
        width: 100%;
        height: auto;
    }
}

.description {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__title {
        color: var(--surface);
        font-size: var(--text-size-l);
        font-weight: 700;
    }

    &__text {
        color: var(--surface);
        font-size: var(--text-size-s);
    }
}

@include xl {
    .offers {
        flex-direction: column;
    }

    .description {
        gap: 12px;
        justify-content: center;

        &__title {
            font-size: var(--text-size-xl);
        }

        &__text {
            font-size: var(--text-size-xm);
        }
    }
}

@include md {
    .offers {
        gap: 32px;
    }

    .description {
        &__title {
            font-size: var(--text-size-l);
        }

        &__text {
            font-size: var(--text-size-m);
        }
    }
}

@include sm {
    .banner {
        &__description {
            padding-left: 20px;
        }
    }

    .description {
        gap: 0px;
        &__title {
            font-size: var(--text-size-m);
        }

        &__text {
            font-size: var(--text-size-xs);
        }
    }
}