<div class="specials">
    <h2 class="specials__title">
        Специальные предложения
    </h2>
    <div class="offers">
        <div class="banner offers__card-banner">
            <div class="description  banner__description">
                <h5 class="description__title">
                    Оформите карту «Северяночка»
                </h5>
                <p class="description__text">
                    И получайте бонусы при покупке в магазинах и на сайте
                </p>
            </div>
            <img src="assets/special/special-card.svg" alt="sale-card" class="banner__image">
        </div>
        <div class="banner offers__stock-banner">
            <div class="description  banner__description">
                <h5 class="description__title">
                    Покупайте акционные товары
                </h5>
                <p class="description__text">
                    И получайте вдвое больше бонусов
                </p>
            </div>
            <img src="assets/special/test.jpg" alt="sale-cart" class="banner__image">
        </div>
    </div>
</div>

