<div class="content-wrapper content-wrapper_desktop">
    <p class="content-wrapper__title">
        Заказы
    </p>
    <ng-container *ngIf="orders && orders.length > 0 || !orders; else noOrdersFound">
        <div *ngFor="let order of orders" class="order">
            <div class="order-title">
                <div class="order-deliver">
                    <p class="order-deliver__date">
                        {{ order.orderInfo.orderDate| date: 'dd.MM.yyyy' }}
                    </p>
                    <p class="order-deliver__date">
                        {{ getDeliverTimeText(order.orderInfo.orderTime) }}
                    </p>
                </div>
                <div class="order-info">
                    <p class="order-info__price">
                       {{ order.orderPrice | currency:'₽':'symbol':'1.2-2' }}
                    </p>
                    <div class="order-info__status button_base" [ngClass]="getStatusClass(order.orderStatus)">
                        {{ getOrderStatusText(order.orderStatus) }}
                    </div>
                </div>
            </div>
            <app-product-list-orders [products]="order.orderProducts"></app-product-list-orders>
        </div>
    </ng-container>
    <ng-template #noOrdersFound>
        <p class="content-wrapper__nothing">
            Здесь пока пусто
        </p>
    </ng-template>
</div>
