@import "src/app/styles/mixins";

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;

    &__title {
        color: var(--surface);
        font-size: var(--text-size-xxl);
        font-weight: 700;
    }
}

.main {
    display: flex;
    gap: 40px;

    &__nothing {
        color: var(--surface);
        font-size: var(--text-size-xm);
    }
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

    &__item {
        width: 100%;
        height: 455px;
        background: var(--white);
    }
}

@include xl {
    .main {
        flex-direction: column;
    }

    .products { 
        &__item {
            height: auto;
        }
    }
}

@include lg {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@include sm {
    .products {
        grid-template-columns: 1fr;
    }
}