body {
    font-family: var(--base-font-family);
    letter-spacing: 0.0178571429em;
    background: var(--main-bg);
    margin: 0;
    width: 100vw;
    height: 100vh;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--surface);
    margin: 0;
}

input, input:focus, input:hover {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

.content-wrapper {
    &_desktop {
        margin: 60px 0px;
        max-width: var(--content-width);
        margin-left: auto;
        margin-right: auto;
        padding: 0px 16px;
    }
}

.product-card-admin {
    display: flex;
    justify-content: space-between;

    &_base {
        height: auto;
        background: var(--white);
        border-radius: 4px;
        box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
    }
}

.no-image {
    width: 200px;
    height: 200px;
    background: var(--grayscale-lightest);
}