.button {

    &_base {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        gap: 8px;
        border-radius: 4px;
        font-size: var(--text-size-s);
        background-color: inherit;
        border: none;
    }

    &_empty, &_empty:hover, &_empty:focus {
        border: none;
        background: inherit;
    }

    &_green {
        background: var(--green);
        border: 1px solid var(--green);
        color: var(--white);
    }

    &_product-card {
        border: 1px solid var(--green);
        color: var(--green);

        &:hover {
            background: var(--main-orange);
            border: 1px solid var(--main-orange);
            color: var(--white);
        }
    }

    &_product-detail {
        padding: 16px;
        background: var(--main-orange);
        border: 1px solid var(--main-orange);
        color: var(--white);
        border-radius: 4px;
        font-size: var(--text-size-l);
        display: flex;
        align-items: center;
        gap: 8px;
        width: 375px;
    }

    &_flex {
        display: flex;
        justify-content: center;
        flex: 1 0 0;
    }

    &_chip {
        background: var(--grayscale-lightest);
        border-radius: 16px;
        border: 1px solid var(--grayscale-lightest);
        font-size: var(--text-size-s);
        color: var(--surface);
        font-family: var( --base-font-family), sans-serif;
        padding: 4px 8px;

        &_active {
            color: var(--white);
            background: var(--main-orange);
        }
    }
}