.input {

    &_base {
        padding: 8px;
        border-radius: 4px;
        border: 1px solid var(--green);
    }

    &_auth {
        padding: 12px;
        border-radius: 4px;
        border: 1px solid var(--green);
        font-size: var(--text-size-m);

        &:hover, &:focus {
            border: 1px solid var(--green-dark);
        }

        &_invalid {
            border: 1px solid var(--error);

            &:hover, &:focus {
                border: 1px solid var(--error);
            }
        }
    }

    &_invalid {
        border: 1px solid var(--error);

        &:hover, &:focus {
            border: 1px solid var(--error);
        }
    }

    &_rewiev {
        height: 100px;
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid var(--grayscale-light);
        background: var(--white);
        color: var(--surface);

        &:hover, &:focus, &:active {
            border: 2px solid var(--grayscale-light);
        }
    }

    &_search {
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid var(--grayscale-light);
        background: var(--white);

        &:hover, &:focus, &:active {
            border: 1px solid var(--grayscale-light);
        }
    }
}