// slider
.mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: var(--green);
    --mdc-slider-focus-handle-color: var(--green);
    --mdc-slider-hover-handle-color: var(--green);
    --mdc-slider-active-track-color: var(--green);
    --mdc-slider-inactive-track-color: var(--green);
    --mdc-slider-with-tick-marks-active-container-color: var(--white);
    --mdc-slider-with-tick-marks-inactive-container-color: var(--green);
    --mat-mdc-slider-ripple-color: var(--green);
    --mat-mdc-slider-hover-ripple-color: rgba(63, 81, 181, 0.05);
    --mat-mdc-slider-focus-ripple-color: rgba(63, 81, 181, 0.2);
}

// snackbar
.mat-mdc-snack-bar-container {
    --mdc-snackbar-supporting-text-font: var(--base-font-family), sans-serif;
    --mdc-snackbar-supporting-text-line-height: 20px;
    --mdc-snackbar-supporting-text-size: var(--text-size-s);
    --mdc-snackbar-supporting-text-weight: 400;

    &__valid {
        --mdc-snackbar-container-color: var(--green-light);
        --mdc-snackbar-supporting-text-color: var(--green);
    }

    &__invalid {
        --mdc-snackbar-container-color: var(--error-light);
        --mdc-snackbar-supporting-text-color: var(--error);
    }
}

.mat-mdc-standard-chip {
    --mdc-chip-elevated-container-color: var(--grayscale-lightest);
    --mdc-chip-label-text-font: var(--base-font-family), sans-serif;
    --mdc-chip-label-text-line-height: 20px;
    --mdc-chip-label-text-size: var(--text-size-s);
    --mdc-chip-label-text-weight: 400;
}

.mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary, .mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-primary {
    --mdc-chip-disabled-label-text-color: var(--white);
    --mdc-chip-elevated-container-color: var(--main-orange);
    --mdc-chip-elevated-disabled-container-color: var(--main-orange);
    --mdc-chip-focus-state-layer-color: black;
}