// slider
.mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: var(--green);
    --mdc-slider-focus-handle-color: var(--green);
    --mdc-slider-hover-handle-color: var(--green);
    --mdc-slider-active-track-color: var(--green);
    --mdc-slider-inactive-track-color: var(--green);
    --mdc-slider-with-tick-marks-active-container-color: var(--white);
    --mdc-slider-with-tick-marks-inactive-container-color: var(--green);
    --mat-mdc-slider-ripple-color: var(--green);
    --mat-mdc-slider-hover-ripple-color: rgba(63, 81, 181, 0.05);
    --mat-mdc-slider-focus-ripple-color: rgba(63, 81, 181, 0.2);
}

// snackbar
.mat-mdc-snack-bar-container {
    --mdc-snackbar-supporting-text-font: var(--base-font-family), sans-serif;
    --mdc-snackbar-supporting-text-line-height: 20px;
    --mdc-snackbar-supporting-text-size: var(--text-size-s);
    --mdc-snackbar-supporting-text-weight: 400;

    &__valid {
        --mdc-snackbar-container-color: var(--green-light);
        --mdc-snackbar-supporting-text-color: var(--green);
    }

    &__invalid {
        --mdc-snackbar-container-color: var(--error-light);
        --mdc-snackbar-supporting-text-color: var(--error);
    }
}

.mat-mdc-standard-chip {
    --mdc-chip-elevated-container-color: var(--grayscale-lightest);
    --mdc-chip-label-text-font: var(--base-font-family), sans-serif;
    --mdc-chip-label-text-line-height: 20px;
    --mdc-chip-label-text-size: var(--text-size-s);
    --mdc-chip-label-text-weight: 400;
}

.mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary, .mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-primary {
    --mdc-chip-disabled-label-text-color: var(--white);
    --mdc-chip-elevated-container-color: var(--main-orange);
    --mdc-chip-elevated-disabled-container-color: var(--main-orange);
    --mdc-chip-focus-state-layer-color: black;
}

// select 
.mat-select-trigger {
    font-family: var(--base-font-family);
}

// tabs
.mat-mdc-tab-header {
    --mat-tab-header-label-text-font: var(--base-font-family), sans-serif;
    --mat-tab-header-label-text-size: var(--text-size-s);
    --mat-tab-header-label-text-weight: 400;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: var(--green);
    --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
    --mat-tab-header-pagination-icon-color: #000;
    --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-active-label-text-color: var(--green);
    --mat-tab-header-active-ripple-color: var(--green);
    --mat-tab-header-inactive-ripple-color: var(--green);
    --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-active-focus-label-text-color: var(--green);
    --mat-tab-header-active-hover-label-text-color: var(--green);
    --mat-tab-header-active-focus-indicator-color: var(--green);
    --mat-tab-header-active-hover-indicator-color: var(--green);
}
