// slider
.mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: #70C05B;
    --mdc-slider-focus-handle-color: #70C05B;
    --mdc-slider-hover-handle-color: #70C05B;
    --mdc-slider-active-track-color: #70C05B;
    --mdc-slider-inactive-track-color: #70C05B;
    --mdc-slider-with-tick-marks-active-container-color: #fff;
    --mdc-slider-with-tick-marks-inactive-container-color: #70C05B;
    --mat-mdc-slider-ripple-color: #70C05B;
    --mat-mdc-slider-hover-ripple-color: rgba(63, 81, 181, 0.05);
    --mat-mdc-slider-focus-ripple-color: rgba(63, 81, 181, 0.2);
}