<div class="content-wrapper content-wrapper_desktop">
    <h2 class="content-wrapper__title">
        Каталог
    </h2>
    <div class="categories">
        <div class="category categories__category categories__left" routerLink="/search">
            <img src="assets/catalog/category_1.svg" alt="category-image" class="category__image">
            <h3 class="category__title">
                Молоко, сыр, яйцо
            </h3>
        </div>
        <div class="category categories__category">
            <img src="assets/catalog/category_2.svg" alt="category-image" class="category__image">
            <h3 class="category__title">
                Хлеб
            </h3>
        </div>
        <div class="category categories__category">
            <img src="assets/catalog/category_3.svg" alt="category-image" class="category__image">
            <h3 class="category__title">
                Фрукты и овощи
            </h3>
        </div>
        <div class="category categories__category">
            <img src="assets/catalog/category_4.svg" alt="category-image" class="category__image">
            <h3 class="category__title">
                Замороженные продукты
            </h3>
        </div>
        <div class="category categories__category">
            <img src="assets/catalog/category_5.svg" alt="category-image" class="category__image">
            <h3 class="category__title">
                Напитки
            </h3>
        </div>
        <div class="category categories__category">
            <img src="assets/catalog/category_6.svg" alt="category-image" class="category__image">
            <h3 class="category__title">
                Кондитерские изделия
            </h3>
        </div>
        <div class="category categories__category">
            <img src="assets/catalog/category_7.svg" alt="category-image" class="category__image">
            <h3 class="category__title">
                Чай, кофе
            </h3>
        </div>
        <div class="category categories__category">
            <img src="assets/catalog/category_8.svg" alt="category-image" class="category__image">
            <h3 class="category__title">
                Бакалея
            </h3>
        </div>
        <div class="category categories__category">
            <img src="assets/catalog/category_9.svg" alt="category-image" class="category__image">
            <h3 class="category__title">
                Здоровое питание
            </h3>
        </div>
        <div class="category categories__category categories__right">
            <img src="assets/catalog/category_10.svg" alt="category-image" class="category__image">
            <h3 class="category__title">
                Зоотовары
            </h3>
        </div>
        <div class="category categories__category">
            <img src="assets/catalog/category_11.svg" alt="category-image" class="category__image">
            <h3 class="category__title">
                Детское питание
            </h3>
        </div>
        <div class="category categories__category categories__mid">
            <img src="assets/catalog/category_12.svg" alt="category-image" class="category__image">
            <h3 class="category__title">
                Мясо, птица, колбаса
            </h3>
        </div>
        <div class="category categories__category">
            <img src="assets/catalog/category_13.svg" alt="category-image" class="category__image">
            <h3 class="category__title">
                Непродовольственные товары
            </h3>
        </div>
    </div>
</div>