@import "src/app/styles/mixins";

.search-filter {
    &__filter-form {
        width: 272px;
    }

    &__settings {
        cursor: default;
        pointer-events: none;
        margin-bottom: 20px;
        width: 100%;
        color: var(--surface);
        font-size: var(--text-size-s);
        font-weight: 700;
        border-radius: 4px;
        background: var(--grayscale-lightest);
        padding: 10px;
    }
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
        color: var(--surface);
        font-size: var(--text-size-s);
        font-weight: 700;
        background: var(--grayscale-lightest);
        padding: 10px;
        flex: 1 0 0;
    }

    &__submit {
        background: var(--main-orange);
        color: var(--white);
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 13px;

    &__label {
        color: var(--surface);
        font-size: var(--text-size-s);
    }
}

.slider {
    display: flex;
    flex-direction: column;
    gap: 13px;

    &__price {
        font-size: var(--text-size-s);
        color: var(--surface);
    }
}

.price-range {
    display: flex;

    &__input {
        width: 124px;
    }
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tags {
    display: flex;
    gap: 16px;
}

.categories-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
        justify-content: flex-start;
    }
}

@include xl {
    .search-filter {
        &__filter-form {
            display: none;
            width: 100%
        }

        &__settings {
            cursor: pointer;
            pointer-events: all;
        }
    }

    .filter-form {
        &__submit {
            margin-top: 16px;
            width: 100%;
        }
    }
}