@import "src/app/styles/mixins";

.profile {
    &__banner {
        background-image: url('/assets/banner/banner-background.svg');
        height: 200px;
    }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;

    &__profile-form {
        background: var(--white);
        border-radius: 8px;
        padding: 40px;
        box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.10);
    }

    &__mini-profile {
        background: var(--white);
        border-radius: 8px;
        padding: 20px;
        box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.10);
    }
}

.mini-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &__fio {
        color: var(--surface);
        font-weight: 700;
        font-size: var(--text-size-s);
    }

    &__button {
        cursor: pointer;
    }
}

.avatar {
    display: flex;
    position: relative;

    &__image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__title {
        color: var(--surface);
        font-size: var(--text-size-s);
    }

    &__submit {
        margin-top: 16px;
    }
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 32px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.divider {
    color: var(--green);
    height: 1px;
}

.submit {
    display: flex;
    justify-content: center;
}

@include md {
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
}