.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    grid-gap: 40px;

    &__item {
        width: var(--product-card-width);
        height: var(--product-card-height);
        background: var(--white);
    }
}