.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.controls {
    display: flex;
    gap: 40px;

    &__control {
        color: var(--grayscale-hardest);

        &_orange {
            color: var(--main-orange);
        }
    }
}

.products {
    display: flex;
    flex-direction: column;
    gap: 24px;
}