<app-banner class="home__banner"></app-banner>
<div class="content-wrapper content-wrapper_desktop">
    <app-list-layout
        class="content-wrapper__list-layout" 
        [products]="productsByTag.sales" 
        [category]="'акции'">
    </app-list-layout>
    <app-list-layout 
        class="content-wrapper__list-layout" 
        [products]="productsByTag.news" 
        [category]="'новинки'">
    </app-list-layout>
    <app-special class="content-wrapper__special"></app-special>
    <app-map class="content-wrapper__map"></app-map>
    <div class="row">
        <div class="title">
            <h2 class="title__name">Статьи</h2>
            <button type="button" class="title__more button_base">
                Все статьи
                <img src="assets/common/right-arrow.svg" alt="more-right-arrow" class="more__icon">
            </button>
        </div>
        <app-article-list></app-article-list>
    </div>
</div>