<div class="content-wrapper content-wrapper_desktop">
    <mat-tab-group class="tabs">
        <mat-tab label="Продукты">
            <div class="main">
                <app-search-filter 
                    (filteredProducts)="onProductsChanged($event)">
                </app-search-filter>
                <ng-container *ngIf="products.length > 0; else noProductsFound">
                    <div class="products">
                        <button type="button" class="products__add button_base button_green" (click)="dialogService.openProductFormDialog('0ms', '0ms')">
                            Добавить товар
                        </button>
                        <app-product-card-admin 
                            *ngFor="let product of products" 
                            [product]="product" 
                            class="products__item product-card-admin_base">
                        </app-product-card-admin >
                    </div>
                </ng-container>
                <ng-template #noProductsFound>
                    <p class="main__nothing">
                        По вашему запросу ничего не найдено
                    </p>
                </ng-template>
            </div>
        </mat-tab>
        <mat-tab label="Заказы">
            <div class="orders">
                <div class="settings">
                    <div class="form-group">
                        <label for="deliverDate" class="form-group__label">Дата</label>
                        <input 
                            type="date"
                            id="deliverDate"
                            [(ngModel)]="deliverDate"
                            (change)="updateOrders()"
                            class="form-group__input input_search">
                    </div>
                    <div class="deliver-times">
                        <button 
                            *ngFor="let deliverTime of deliverTimes" 
                            [ngClass]="{'button_orange': selectedDeliverTime === deliverTime.value}"
                            class="deliver-time button_base button_green" 
                            (click)="selectDeliverTime(deliverTime.value)">
                            {{ deliverTime.key }}
                        </button>
                    </div>
                </div>
                <app-order-card-admin 
                    *ngFor="let order of filteredOrders" 
                    [order]="order">
                </app-order-card-admin>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
