@import "src/app/styles/mixins";

.tabs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main {
    display: flex;
    gap: 40px;

    &__nothing {
        color: var(--surface);
        font-size: var(--text-size-xm);
    }
}

.products {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    &__add {
        width: 140px;
    }
}

@include xl {
    .main {
        flex-direction: column;
    }
}