.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.product-detail-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-detail-rewievs {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
