<nav class="categories catalog-menu__categories">
    <li class="column">
        <a href="#" class="column__item">
            Молоко, сыр, яйцо
        </a>
        <a href="#" class="column__item">
            Хлеб
        </a>
        <a href="#" class="column__item">
            Фрукты и овощи
        </a>
        <a href="#" class="column__item">
            Замороженные продукты
        </a>
    </li>
    <li class="column">
        <a href="#" class="column__item">
            Напитки
        </a>
        <a href="#" class="column__item">
            Кондитерские изделия
        </a>
        <a href="#" class="column__item">
            Чай, кофе
        </a>
    </li>
    <li class="column">
        <a href="#" class="column__item">
            Бакалея
        </a>
        <a href="#" class="column__item">
            Здоровое питание
        </a>
        <a href="#" class="column__item">
           Зоотовары
        </a>
    </li>
    <li class="column">
        <a href="#" class="column__item">
            Непродовольственные товары
        </a>
        <a href="#" class="column__item">
            Детское питание
        </a>
        <a href="#" class="column__item">
            Мясо, птица, колбаса
        </a>
    </li>
</nav>
