<nav class="categories catalog-menu__categories">
    <li class="column">
        <a [routerLink]="['/search']" [queryParams]="{category: 'lactic'}" class="column__item">
            Молоко, сыр, яйцо
        </a>
        <a [routerLink]="['/search']" [queryParams]="{category: 'bread'}" class="column__item">
            Хлеб
        </a>
        <a [routerLink]="['/search']" [queryParams]="{category: 'vegetables'}" class="column__item">
            Фрукты и овощи
        </a>
        <a [routerLink]="['/search']" [queryParams]="{category: 'frozen'}" class="column__item">
            Замороженные продукты
        </a>
    </li>
    <li class="column">
        <a [routerLink]="['/search']" [queryParams]="{category: 'beverages'}" class="column__item">
            Напитки
        </a>
        <a [routerLink]="['/search']" [queryParams]="{category: 'cakes'}" class="column__item">
            Кондитерские изделия
        </a>
        <a [routerLink]="['/search']" [queryParams]="{category: 'tea'}" class="column__item">
            Чай, кофе
        </a>
    </li>
    <li class="column">
        <a [routerLink]="['/search']" [queryParams]="{category: 'grocery'}" class="column__item">
            Бакалея
        </a>
        <a [routerLink]="['/search']" [queryParams]="{category: 'healthy'}" class="column__item">
            Здоровое питание
        </a>
        <a [routerLink]="['/search']" [queryParams]="{category: 'zoo'}" class="column__item">
           Зоотовары
        </a>
    </li>
    <li class="column">
        <a [routerLink]="['/search']" [queryParams]="{category: 'childish'}" class="column__item">
            Непродовольственные товары
        </a>
        <a [routerLink]="['/search']" [queryParams]="{category: 'meat'}" class="column__item">
            Детское питание
        </a>
        <a [routerLink]="['/search']" [queryParams]="{category: 'no_food'}" class="column__item">
            Мясо, птица, колбаса
        </a>
    </li>
</nav>
