<div class="content-wrapper auth__content-wrapper">
    <div class="content">
        <div class="form-wrapper content__form-wrapper">
            <div class="logo-wrapper">
                <img src="assets/auth/auth-logo.svg" alt="auth-logo" class="logo-wrapper__logo">
            </div>
        </div>
        <div class="about">
            <h2 class="about__title">
                О Компании
            </h2>
            <p class="about__main">
                Основная миссия компании - максимальное качество товаров и услуг по досттупной цене. Мы непрерывно
                развиваемся и работаем над совершенствованием сервиса, заботимся о наших клиентах, стремимся к лучшему
                будущему.
            </p>
        </div>
    </div>
    <app-quality></app-quality>
</div>