<div class="content-wrapper content-wrapper_desktop">
    <h2 class="content-wrapper__title">
        Каталог
    </h2>
    <div class="categories">
        <div *ngFor="let category of categories; let i = index" class="category categories__category" [routerLink]="['/search']" [queryParams]="{ category: category.value}">
            <img [hidden]="i === 0 || i === 9 || i === 11" [src]="category.image" alt="category-image" class="category__image">
            <h3 class="category__title">
                {{ category.key }}
            </h3>
        </div>
    </div>
</div>