<div class="advantages-wrapper">
    <div class="advantage">
        <img src="assets/quality/quality-check.svg" alt="advantage-check" class="advantage__check">
        <div class="paragraph">
            <p class="paragraph__text">
                Мы занимаемся розничной торговлей
            </p>
            <h3 class="paragraph__main">
                Более 20 лет.
            </h3>
        </div>
    </div>
    <div class="advantage">
        <img src="assets/quality/quality-check.svg" alt="advantage-check" class="advantage__check">
        <div class="paragraph">
            <p class="paragraph__text">
                Основная миссия компании
            </p>
            <h3 class="paragraph__main">
                Максимальное качество товаров и услуг по доступной цене.
            </h3>
        </div>
    </div>
    <div class="advantage">
        <img src="assets/quality/quality-check.svg" alt="advantage-check" class="advantage__check">
        <div class="paragraph">
            <p class="paragraph__text">
                Отличительная черта нашей сети
            </p>
            <h3 class="paragraph__main">
                Здоровая и полезная продукция местного производства внаших магазинах.
            </h3>
        </div>
    </div>
</div>
<div class="banner">
    <img src="assets/quality/quality-logo.svg" alt="qulity-logo" class="banner__logo">
    <div class="tagline banner__tagline">
        <p class="tagline__text">
            Спасибо за то, что вы с нами. Северяночка, везет всегда!
        </p>
    </div>
</div>
