@import "src/app/styles/mixins";

.advantages-wrapper {
    display: grid;
    grid-template-columns: 21% 29% 40%;
    justify-content: space-between;
}

.advantage {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__text {
        color: var(--surface);
        font-size: var(--text-size-xm);
    }

    &__main {
        color: var(--surface);
        font-size: var(--text-size-l);
        font-weight: 700;
    }
}

.banner {
    display: flex;
    justify-content: center;
    gap: 40px;

    &__tagline {
        padding: 30px 40px;
        background: var(--green-light);
    }
}

.tagline {
    &__text {
        color: var(--green);
        font-size: var(--text-size-l);
        font-weight: 700;
    }
}

@include quality-between-md-xs {
    .advantages-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .banner {
        align-items: center;
        gap: 20px;
    
        &__logo {
            transform: scale(0.7);
        }

        &__tagline {
            padding: 10px 20px;
        }
    }
}