<div class="wrapper">
    <button class="rout wrapper__rout" routerLink="/catalog" routerLinkActive="active">
        <img [src]="isRouteActive('/catalog') ? 'assets/common/menu-active.svg' : 'assets/common/menu-dark.svg'" 
        alt="catalog-icon" 
        class="rout__icon">
        Каталог
    </button>
    <button class="rout wrapper__rout" routerLink="/liked" routerLinkActive="active">
        <img [src]="isRouteActive('/liked') ? 'assets/common/heart-active.svg' : 'assets/common/heart.svg'" 
        alt="liked-icon" 
        class="rout__icon">
        Избранное
    </button>
    <button class="rout wrapper__rout" routerLink="/orders" routerLinkActive="active">
        <img [src]="isRouteActive('/orders') ? 'assets/common/box-active.svg' : 'assets/common/box.svg'" 
         alt="box-icon" 
         class="rout__icon">
        Заказы
    </button>
    <button class="rout wrapper__rout" routerLink="/basket" routerLinkActive="active">
        <img [src]="isRouteActive('/basket') ? 'assets/common/shopping-cart-active.svg' : 'assets/common/shopping-cart.svg'"  
        alt="cart-icon" 
        class="rout__icon">
        Корзина
    </button>
    <button class="rout wrapper__rout" routerLink="/profile" routerLinkActive="active">
        <img [src]="isRouteActive('/profile') ? 'assets/common/profile-active.svg' : 'assets/common/profile.svg'" 
        alt="profile-icon" 
        class="rout__icon">
        Профиль
    </button>
</div>