.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;

    &__title {
        font-size: var(--text-size-xl);
        color: var(--surface);
        font-weight: 700;
    }
}