<div class="logo-wrapper">
    <img src="assets/header/header-logo.svg" alt="logo" class="logo-wrapper__logo">
</div>
<div class="controls">
    <div class="catalog controls__catalog">
        <button class="catalog__button button_base button_green">
            <img src="assets/common/menu.svg" alt="menu" class="catalog__button-menu">
            Каталог
        </button>
        <div class="search catalog__search">
            <input class="search__input" placeholder="Найти товар">
            <img src="assets/common/search.svg" alt="search">
        </div>
    </div>
</div>
<div class="routing">
    <div class="link">
        <img src="assets/common/heart.svg" alt="heart" class="link__icon">
        <p class="link__name">Избранное</p>
    </div>
    <div class="link">
        <img src="assets/common/box.svg" alt="box" class="link__icon">
        <p class="link__name">Заказы</p>
    </div>
    <div class="link">
        <img src="assets/common/shopping-cart.svg" alt="shopping-cart" class="link__icon">
        <p class="link__name">Корзина</p>
    </div>
    <button class="routing__button button_base button_green">
        Авторизация
    </button>
</div>