<a class="logo-wrapper" [routerLink]="['/home']">
    <img src="assets/header/header-logo.svg" alt="logo" class="logo-wrapper__logo">
</a>
<div class="search header__search">
    <input class="search__input" placeholder="Найти товар" [formControl]="searchInput" [matAutocomplete]="auto">
    <a class="search__link button_empty" [routerLink]="['/search']" [queryParams]="{search: searchInput.value}" (click)="resetSearchInput()">
        <img src="assets/common/search.svg" alt="search" class="search__icon">
    </a>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option 
            *ngFor="let product of filteredProducts | async" 
            [value]="product.title" 
            [routerLink]="['/search']" 
            [queryParams]="{search: searchInput.value}" 
            (click)="resetSearchInput()">
            {{ product.title }}
        </mat-option>
    </mat-autocomplete>
</div>
<app-header-desktop (toggledMenu)="toggleMenu()"></app-header-desktop>
<app-header-navbar class="header__navbar"></app-header-navbar>