@import "src/app/styles/mixins";

.header {
    &__navbar {
        display: none;
    }
}

.logo-wrapper {
    cursor: pointer;
}

.search {
    display: none
}

.header-desktop {
    display: flex;
    gap: 40px;
}

@include xl {
    .header-desktop {
        gap: 60px;
    }
}

@include header-between-lg-xl {
    .header-desktop {
        gap: 40px;
    }
}

@include lg {
    .header {
        &__search {
            border: 1px solid var(--green);
            border-radius: 4px;
            padding: 8px;
        }

        &__navbar {
            display: block;
            background: var(--white);
            box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.10);
            overflow: hidden;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 100;
            padding: 8px 16px;
        }
    }

    .search {
        width: 100%;
        display: flex;
        gap: 10px;

        &__input {
            padding-left: 8px;
            width: 100%;
        }
    }

    .header-desktop {
        display: none;
    }
}

@include sm {
    .header {
        &__navbar {
            padding: 8px 8px;
        }
    }
}